
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
}

button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: #00796b;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    display: flex;
}

.navbar ul li{
   position: relative;

}

.navbar ul li a{
   display: block;
   padding : 15px 20px;
   color: white;
   text-decoration: none;
}